# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Model files
*.h5

# Data
data/

# Predictions output
*.pdf

# Virtual environment
venv/
.env/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db